@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
 
.a{
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle at 100% 100%, #6abd82 0, #56b384 10%, #43a682 20%, #32957d 30%, #248273 40%, #1c6b65 50%, #195554 60%, #194345 70%, #183438 80%, #17282c 90%, #152023 100%);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.PageContent {
  flex: 1;
  margin-top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #6abd82;
}

.container p{
  color: black;
  text-decoration: none;
}

.container a {
  color: black;
  text-decoration: none;
}

.container a:hover {
  color: #6abd82;
}

.Mainnav, .Bottomnav {
  width: 100%;
}

.Mainnav {
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: linear-gradient(to right, #1c6b65, #248273); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 10; 
}

.logo-link {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  right: 20px;
  top: 50px;
}

.Logo1 {
  max-width: 250px;
  max-height: 65px;
  width: 100%;
  height: auto;
  min-width: 300px;
  min-height: 65px;
  margin-right: 45px;
}

.Bottomnav {
  position: absolute;
  height: 1px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
}

.Bottomnav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: auto; /* Сброс правого отступа */
  margin-left: 170px; /* Автоматическое выравнивание по центру */
  z-index: 10;
}

.Bottomnav li {
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 700;
  list-style-type: none;
}

.Line {
  width: 100%;
  height: 0px;
  top: 46px;
  right: 0px;
  position: absolute;
  border: 2px white solid;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 100px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.nav-links a:hover {
  color: #6abd82;
}

#myButton {
  position: inherit;  
  background-image:linear-gradient(to top left, #17282c 37%, #152023 100%);
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: 500ms;
  left: 1vw;
  top: 0vw;
}

#myButton:hover {
  background-color: #43a682;
}

#contextMenu {
  display: none;
  position: absolute;
  left: 10px;
  top: 50px;
  background-color: rgba(0, 143, 153, 0.8);
  min-width: 160px;
  padding: 12px 16px;
  border-radius: 10%;
  border: solid 1px #32957d;
}

#contextMenu a {
  color: white;
  padding: 8px 0;
  display: block;
  transition: 500ms;
}

.slider-container {
  width: 100%;
  height: 100%;
  max-width: 1700px; /* Максимальная ширина */
  max-height: 520px; /* Максимальная высота */
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 420px;
  border: 7px solid #1c6b65;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #171717; /* Цвет фона */
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон */
  color: #fff; /* Цвет текста */
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.navigation {
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон */
  position: absolute;
  bottom: 39px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 1;
}

.bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: #ddd;
  opacity: .7;
  border-radius: 10px;
  transition: all .4s ease;
}

.bar:hover {
  opacity: 1;
  transform: scale(1.1);
}

.slides {
  width: 400%; /* Ширина всех слайдов */
  height: 100%;
  display: flex;
  position: relative;
}

.slide {
  width: 25%; /* Ширина одного слайда */
  height: 100%;
  transition: all .6s ease;
  display: flex;
  justify-content: center;
  position: relative;
}

.slide img {
  width: 100%; /* Ширина изображения */
  height: auto;
  max-width: 500px;
  /* object-fit: cover; */
}

.PcDesc {
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
}

.UserInfo {
  display: block;
  margin-left: 200px;
  margin-bottom: 100px;
}

.WelcomeTextContainer {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 3vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-shadow: -1px -1px 0 #1c6b65, 1px -1px 0 #1c6b65, -1px 1px 0 #1c6b65, 1px 1px 0 #1c6b65;
}

.InfoTextAdditional {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.InfoBottomTextCfg, .newsblockbottomtext {
  font-size: 18px;
  color: white;
}

.content-below-slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 220px;
  margin-top: 20px; /* Отступ от слайдера */
  padding: 20px; /* Дополнительное пространство вокруг блоков */
  width: 100%;
  box-sizing: border-box;
}

.cfgblock, .newsblock, .contactusblock {
  flex: 1;
  min-width: 300px;
  max-width: 426px;
  background-color: rgba(24, 130, 115, 0.9);
  overflow: hidden;
  border-radius: 20px;
  border: 7px solid #1c6b65;
  box-sizing: border-box;
  transition: max-height 0.5s ease-out, height 0.5s ease-out;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 450px; /*Высота в свернутом состоянии */
  margin-top: 720px;
  margin-bottom: 150px;
  padding: 20px 40px;
}

.cfgblock a, .newsblock a, .contactusblock a {
  display: block;
  text-align: center;
  position: relative;
  text-decoration: none;
}

.cfgimg, .newsimg, .contactusimg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease; /* Плавный переход для трансформации */
}

.text-container {
  padding: 10px;
  box-sizing: border-box;
}

.InfoTextAdditional {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.description {
  max-height: 0;
  overflow: hidden;
  background-color: rgba(0, 143, 153, 0.9);
  padding: 0 10px;
  box-sizing: border-box;
  transition: max-height 0.5s ease-out;
  flex-grow: 1; /* Чтобы описание занимало оставшееся пространство */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
}

.description p {
  font-size: 18px;
  color: white;
  margin: 10px 0;
}

.cfgblock:hover .description, .newsblock:hover .description, .contactusblock:hover .description {
  max-height: 200px; /* Высота описания в развернутом состоянии */
  padding: 10px;
  transition: max-height 0.5s linear;
}

.cfgblock:hover, .newsblock:hover, .contactusblock:hover {
  height: auto; /* Высота блока в развернутом состоянии */
}

.cfgblock:hover .cfgimg, .newsblock:hover .newsimg, .contactusblock:hover .contactusimg {
  transform: scale(1.1); /* Увеличение картинки на 10% при наведении */
}

.footer {
  width: 100%;
  background: #32957d; /* Цвет фона для браузеров, не поддерживающих градиенты */
  background: radial-gradient(circle at 100% 100%, #6abd82 0, #56b384 10%, #43a682 20%, #32957d 30%, #248273 40%, #1c6b65 50%, #195554 60%, #194345 70%, #183438 80%, #17282c 90%, #152023 100%);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  margin: 0 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: none;
  color: #6abd82;
}

.compatibility-container {
  margin: 170px 10px;
  display: grid; /* Применяем сетку к родительскому контейнеру */
  grid-template-columns: repeat(2, 1fr); /* Два столбца */
  gap: 20px;
}

.compatibility-category {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  height: fit-content; /* Добавляем высоту, основанную на содержимом */
}

.compatibility-items.active {
  grid-column: span 1; /* Занимаем одну колонку */
}

.compatibility-category:nth-child(odd) .compatibility-items.active {
  grid-column: 1; /* Размещаем активный элемент в левом столбце */
}

.compatibility-category:nth-child(even) .compatibility-items.active {
  grid-column: 2; /* Размещаем активный элемент в правом столбце */
}

.compatibility-items {
  display: none;
}

.compatibility-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.compatibility-items.show {
  display: block;
}

.compatibility-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.item-details {
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
}

.compatibility-category h2 {
  cursor: pointer;
  text-align: center;
}
.compatibility-items {
  display: none;
}
.compatibility-items.active {
  display: block;
}

.select-item {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.select-item:hover {
  background-color: #0056b3;
}

.compatibility-item.selected {
  border-color: #ff0000;
}

.save-build{
  margin: 120px 120px;
  max-width: 200px;
  height: fit-content; /* Добавляем высоту, основанную на содержимом */
}

@media (max-width: 768px) {
  .Logo1 {
    max-width: 200px;
    max-height: 50px;
  }

  .Bottomnav li {
    font-size: 4vw;
  }

  .PcDesc {
    font-size: 3vw;
  }

  .WelcomeTextContainer {
    font-size: 4vw;
  }

  .InfoTextAdditional {
    font-size: 20px;
  }

  .InfoBottomTextCfg,
  .newsblockbottomtext {
    font-size: 16px;
  }

  .cfgblock, .newsblock {
    max-width: 90%;
  }

  .newsblock p, .cfgblock p {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  .Logo1 {
    max-width: 150px;
    max-height: 40px;
  }

  .Bottomnav li {
    font-size: 5vw;
  }

  .PcDesc {
    font-size: 4vw;
  }

  .WelcomeTextContainer {
    font-size: 5vw;
  }

  .InfoTextAdditional {
    font-size: 18px;
  }

  .InfoBottomTextCfg,
  .newsblockbottomtext {
    font-size: 14px;
  }

  .cfgblock, .newsblock {
    max-width: 100%;
  }

  .newsblock p, .cfgblock p {
    font-size: 5vw;
  }
}