{% extends "base.html" %}
{% block title %}Подробности заказа №{{ order.id }}{% endblock %}
{% block content %}
    <h1>Подробности заказа №{{ order.id }}</h1>
    <p><strong>Пользователь:</strong> {{ order.user_id }}</p>
    <p><strong>Электронная почта:</strong> {{ order.email }}</p>
    <p><strong>Адрес доставки:</strong> {{ order.address }}</p>
    <p><strong>Общая стоимость:</strong> {{ order.total_price }}</p>
    <p><strong>Итоговая стоимость:</strong> {{ order.final_price }}</p>
    
    <h2>Компоненты сборки:</h2>
    <ul>
        {% for component in build_components %}
            <li>{{ component }}</li>
        {% endfor %}
    </ul>
    
    <a href="/orders" class="go-back-button">Назад к списку заказов</a>
{% endblock %}
